<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @cocktail.name %></h1>
      <%= link_to "Back to all cocktails", root_path %>
     <!--  link_to "Modify the cocktail", root_path  -->
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3>Recipe</h3>
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Ingredient</th>
            <th>Description</th>

          </thead>
          <% @cocktail.doses.each do |dose| %>
            <tr>
              <td><%= dose.ingredient.name %></td>
              <td><%= dose.description %></td>

              <td>
                <%= link_to "delete this ingredient", cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-primary'%>
              </td>

            </tr>
          <% end %>

    </div>
        </tbody>
      </table>

      <table class="table table-bordered">
        <thead>
            <%= simple_form_for [@cocktail, @dose] do |f| %>

            <td><%= f.association :ingredient %></td>
            <td><%= f.input :description %></td>

            <th> <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
          </th>
         </thead>


      </table>

    </div>
  </div>
</div>
