<div class="container">

    <div class="col-xs-12">
      <h1><%= @cocktail.name %></h1>

     <!--  link_to "Modify the cocktail", root_path  -->

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3>Recipe   <span class='glyphicon glyphicon-glass'></span> </h3>
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Ingredient </th>
            <th>Description</th>

          </thead>
          <% @cocktail.doses.each do |dose| %>
            <tr>
              <td><%= dose.ingredient.name %></td>
              <td><%= dose.description %></td>

              <td>
                <%= link_to "delete this ingredient", cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-primary'%>
              </td>

            </tr>
          <% end %>

    </div>
        </tbody>
      </table>

      <table class="table table-bordered">
        <thead>
            <%= simple_form_for [@cocktail, @dose] do |f| %>

            <td><%= f.association :ingredient %></td>
            <td><%= f.input :description %></td>

            <th> <%= f.button :submit, class: 'btn btn-success' %>
      <% end %>
          </th>
         </thead>


      </table>

    </div>

  </div>
  <h4><%= link_to " Back to all cocktails ", root_path, class: 'glyphicon glyphicon-hand-right'%></h4>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
